{{ param }} {{subject.id}}
<div class="editingarea">
    <div class="c_flex"><span class="c_flexible"></span></div>
    <div class="c_editview">
        <div class="c_condition">
            <span><select><option>题干</option></select></span>
            <span class="pl5 "><input type="text"></span>
            <span class="pl15 pr15 btn_gray ">查找</span>

            <span class="icon_add">
                <em class="icon_r">
                    <a href="#/SubjectAdd">单个添加题目</a>
                </em>
            </span>
        </div>
        <div class="divtable">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tablea">
                <tr>
                    <td align="center">题型</td>
                    <td align="left">
                        <div class="chose">
                            <a href="#/SubjectList/dpId/{{param.dpId}}/topicId/{{param.topicId}}/levelId/{{ param.levelId }}/typeId/0" class="{{param.typeId==0?'active3':''}}">全部</a>
                            <a href="#/SubjectList/dpId/{{param.dpId}}/topicId/{{param.topicId}}/levelId/{{ param.levelId }}/typeId/{{type.id}}" ng-repeat="type in types" class="{{param.typeId==type.id?'active3':''}}">{{ type.realName }}</a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td align="center">方向</td>
                    <td align="left">
                        <div class="chose">
                            <a href="#/SubjectList/dpId/0/topicId/{{param.topicId}}/levelId/{{ param.levelId }}/typeId/{{param.typeId}}" class="{{param.dpId==0?'active3':''}}">全部</a>
                            <a href="#/SubjectList/dpId/{{department.id}}/topicId/{{param.topicId}}/levelId/{{ param.levelId }}/typeId/{{param.typeId}}" ng-repeat="department in departments"  class="{{param.dpId==department.id?'active3':''}}">{{ department.name }}</a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td align="center">知识点</td>
                    <td align="left">
                        <div class="chose">
                            <a href="#/SubjectList/dpId/{{param.dpId}}/topicId/0/levelId/{{ param.levelId }}/typeId/{{param.typeId}}" class="{{param.topicId==0?'active3':''}}">全部</a>
                            <a href="#/SubjectList/dpId/{{param.dpId}}/topicId/{{topic.id}}/levelId/{{ param.levelId }}/typeId/{{param.typeId}}" ng-repeat="topic in topics" class="{{param.topicId==topic.id?'active3':''}}">{{ topic.title }}</a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td align="center">难度</td>
                    <td align="left">
                        <div class="chose">
                            <a href="#/SubjectList/dpId/{{param.dpId}}/topicId/{{param.topicId}}/levelId/0/typeId/{{param.typeId}}" class="{{param.levelId==0?'active3':''}}">全部</a>
                            <a href="#/SubjectList/dpId/{{param.dpId}}/topicId/{{param.topicId}}/levelId/{{level.id}}/typeId/{{param.typeId}}" ng-repeat="level in levels" class="{{param.levelId==level.id?'active3':''}}">{{ level.realName }}</a>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="Catalog">
            <div class="Catalog_right">
                <div class="Catalogtitle">总计<em>15552</em>道题&nbsp;&nbsp;
                    提示：单击体面可显示答案和解析&nbsp;&nbsp;
                    <input type="checkbox" ng-model="isShow" /><b>显示答案和解析</b>&nbsp;&nbsp;
                    <a href="#" class="Thispage">本页全部试题加入试卷</a>
                    <div>
                        <i>1</i>
                        <a href="#" class="pageone">前</a>
                        <a href="#" class="pagetwo">后</a>
                    </div>
                </div>
                <div class="Catalog_rightnei"  ng-repeat="subject in subjects">
                    <div class="Catalogtitwo">
                        题号：{{ subject.id}}&nbsp;&nbsp;
                        题型：{{ subject.subjectType.realName}}&nbsp;&nbsp;
                        难度：{{subject.subjectLevel.realName}}&nbsp;&nbsp;
                        审核状态：<span style="color:red">{{subject.checkState}}&nbsp;&nbsp;</span>
                        上传人：{{subject.user}}&nbsp;&nbsp;
                        来源：&nbsp;&nbsp;
                        上传时间:{{subject.uploadTime}}&nbsp;&nbsp;
                        组卷次数：<em>0</em></div>
                    <div class="Catalogcontent">
                        <div class="Catalogcontentup">
                             {{$index+1}}、{{subject.stem }}
                            <!-- 选项 -->
                            <ul ng-repeat="choice in subject.choices">
                                <li>{{ $index | numToLetter }}. {{choice.content}}</li>
                            </ul>
                            <div ng-show="isShow">
                            答案：{{subject.answer}}<br>
                            解析：{{subject.analysis}}
                            </div>
                       </div>
                        <div class="Catalogcontentdown">
                            <a href="#/PaperAdd/id/{{subject.id}}/stem/{{subject.stem}}/type/{{subject.subjectType.realName}}/topic/{{subject.topic.title}}/level/{{subject.subjectLevel.realName}}">加入试卷</a>
                        </div>
                    </div>
                </div>
            <div class="clear"></div>
        </div>
    </div>
</div>